@using PubQuizCreator.Web.Helpers

@if (!string.IsNullOrEmpty(Href))
{
    <a href="@Href"
       class="badge text-decoration-none @CssClass"
       style="background-color: @ColorHex; color: @ColorHex.TextColor(); @Style">
        @Name
        @ChildContent
    </a>
}
else
{
    <span class="badge @CssClass"
          style="background-color: @ColorHex; color: @ColorHex.TextColor(); @Style">
        @Name
        @ChildContent
    </span>
}

@code {
    [Parameter] public string ColorHex { get; set; } = "#95a5a6";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter] public string Style { get; set; } = "";
    [Parameter] public string? Href { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
