@if (!string.IsNullOrEmpty(Href))
{
    <a href="@Href"
       class="badge text-decoration-none @CssClass"
       style="background-color: @ColorHex; color: @ColorHex.TextColor(); @Style">
        @Name
        @ChildContent
    </a>
}
else
{
    <span class="badge @CssClass"
          style="background-color: @ColorHex; color: @ColorHex.TextColor(); @Style">
        @Name
        @ChildContent
    </span>
}
